<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
      <h1>Angular Multi Step Form Example</h1>
    </div> 
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
      <h3>Create Product</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
      <div class="card">
        <div class="card-body">
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Personal Details</ng-template>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Name" formControlName="first_name" required>
                      </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Name" formControlName="last_name" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Email Address</mat-label>
                      <input matInput placeholder="Name" formControlName="email_address" required>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Phone Number</mat-label>
                      <input matInput placeholder="Name" formControlName="phone_number" required>
                    </mat-form-field>
                  </div>
                </div>
                <br/>
                <!--<mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" formControlName="description" required>
                  </textarea>
                </mat-form-field>-->
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Residential Details</ng-template>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Country</mat-label>
                      <input matInput placeholder="Amount" formControlName="country" required>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>County</mat-label>
                      <input matInput placeholder="Amount" formControlName="county" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Sub-County</mat-label>
                      <input matInput placeholder="Amount" formControlName="sub_county" required>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mat-form-field>
                      <mat-label>Constituency</mat-label>
                      <input matInput placeholder="Amount" formControlName="constituency" required>
                    </mat-form-field>
                  </div>
                </div>
                <br/>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Preferences</ng-template>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <mat-form-field appearance="fill">
                      <mat-label>Hobbies</mat-label>
                      <mat-select formControlName="preferences" multiple>
                        <mat-option [value]="1">Football</mat-option>
                        <mat-option [value]="2">Dancing</mat-option>
                        <mat-option [value]="3">Music</mat-option>
                        <mat-option [value]="4">Movies</mat-option>
                        <mat-option [value]="5">Travelling</mat-option>
                        <mat-option [value]="6">Basketball</mat-option>
                        <mat-option [value]="7">Motorsport</mat-option>
                        <mat-option [value]="8">Art</mat-option>
                        <mat-option [value]="9">Poetry</mat-option>
                        <mat-option [value]="10">Food</mat-option>
                        <mat-option [value]="11">History</mat-option>
                        <mat-option [value]="12">Literature</mat-option>
                        <mat-option [value]="13">Philosophy</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <br/>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
            
              <mat-list>
             <mat-list-item> <strong>First Name: </strong> {{ this.firstFormGroup.value.first_name }}</mat-list-item>
             <mat-list-item> <strong>Last Name: </strong> {{ this.firstFormGroup.value.last_name }}</mat-list-item>
             <mat-list-item> <strong>Email Address: </strong> {{ this.firstFormGroup.value.email_address }}</mat-list-item>
             <mat-list-item> <strong>Phone Number: </strong> {{ this.firstFormGroup.value.phone_number }}</mat-list-item>
             <mat-list-item> <strong>Country: </strong> {{ this.secondFormGroup.value.country }}</mat-list-item>
             <mat-list-item> <strong>County: </strong> {{ this.secondFormGroup.value.county }}</mat-list-item>
             <mat-list-item> <strong>Sub-County: </strong> {{ this.secondFormGroup.value.sub_county }}</mat-list-item>
             <mat-list-item> <strong>Constituency: </strong> {{ this.secondFormGroup.value.constituency }}</mat-list-item>
            </mat-list>
            
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="submit()">Submit</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>